<<<<<<< HEAD
<h2>Log In</h2>

<% if flash[:error].present? %>
  <h2><%= flash[:error] %></h2>
<% end %>

<%= form_tag login_path do %>

  <div>
    <%= label_tag :email %>
    <%= email_field_tag :email, nil %>
  </div>

  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password, nil %>
  </div>

  <%= submit_tag "Sign in" %>
<% end %>
=======
<div class="container">
  <%= form_tag login_path do %>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Log In" %>
  <% end %>
</div>
>>>>>>> 1325e5f088f94217ba306eed06c8f309d0a370e8
