<div class="css_form_container">
<h2>Sign up</h2>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <div>
    <%= f.email_field :email, :placeholder => 'Email address', :required => true, :class => 'css_form-control' %>
  </div>

  <div>
    <%= f.text_field :name, :placeholder => 'Name', :required => true, :class => 'css_form-control' %>
  </div>

  <div>
    <%= f.password_field :password, :placeholder => 'Password', :required => true, :class => 'css_form-control' %>
  </div>

  <div>
    <%= f.password_field :password_confirmation, :placeholder => 'Confirm password', :required => true, :class => 'css_form-control' %>
  </div>
  <div>
    <%= f.submit "Sign up", :class => 'submit' %>
  </div>
<% end %>
</div>
